#dependencies
/ecommerce-app/products/node_modules
/ecommerce-app/cart/node_modules
/ecommerce-app/container/node_modules

#production
/ecommerce-app/products/build
/ecommerce-app/products/dist
/ecommerce-app/cart/build
/ecommerce-app/cart/dist
/ecommerce-app/container/build
/ecommerce-app/container/dist